<div class="element-footer {{ blueFooterStyle|default(false) ? 'footer-bluezone' }}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="footer-nav">
                    <div class="row gx-0">
                        <div class="col-md-6 mb-3">
                            <ul class="nav flex-column">
                                <li class="nav-item nav-item-header">
                                    <a class="nav-link" href="{{ 'index'|page }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ 'fantasy-football'|page }}">Fantasy Football</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ 'blog/index'|page }}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ 'about'|page }}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ 'contact'|page }}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="footer-copyright">
                    <p>&copy; {{ "now"|date("Y") }} JB Consulting</p>
                    <p>All rights reserved</p>
                </div>
            </div>
        </div>
        <div class="footer-decoration-1"></div>
        <div class="footer-decoration-2"></div>
    </div>
</div>